* {
  margin: 0;
  padding: 0;
}

body {
}
header {
  background-color: white;
  margin-top: 1em;
  padding: 5%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-row-gap: 1em;
}

.head-nav {
  display: flex;
  justify-content: space-between;
}
.header__h2 {
  color: #354463;
  align-self: center;
}

.navbar__list {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

a {
  text-decoration: none;
}

.navbar__list__items {
  margin-top: 0.5em;
}
.navbar__list__items a {
  color: #354463;
}

.btn {
  background-color: #c1f7d5;
  display: inline-block;
  border-radius: 2em;
  color: #354463;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.btn a {
  display: block;
  padding: 5%;
}

.main-content {
  background-color: gray;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("/assets/home/annie.png");
  background-size: cover;
  background-position: 25% 75%;
}

@font-face {
  font-family: brush;
  src: url("/assets/fonts/Flood.ttf");
}
.brush-font {
  font-family: brush;
  line-height: 1em;
  font-size: 3em;
}
.brush-font--white {
  color: white;
}

.brush-font--dark {
  color: #354463;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;

  padding: 0.5em;
  text-align: center;
}

.main-content__subsection1 {
  height: 18em;
}
.brush-font-main-content {
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.main-content__subsection2 {
  padding: 0em 2em 3em 2em;
}

.title-box {
  background-color: #c1f7d5;
  height: 2em;
  width: 8em;
  display: block;
  color: #354463;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-self: center;
}

.title-box a {
  display: block;
  padding-top: 0.7em;
  font-size: 0.8em;
}

.title-box--dark {
  background-color: #354463;
}
.title-box--dark a {
  color: white;
}

.main-content--card {
  position: relative;
}

.issue-btn {
  position: absolute;
  top: -1em;
}

.main-content--card {
  height: 13em;
  color: #354463;
}

.main-content__h2 {
  margin-top: 1.5em;
}

.main-content__para {
  padding: 2em;
  text-decoration: underline;
}

.action-btn {
  position: relative;
  margin: auto;
  bottom: -1em;
}

.take-action-section {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
  padding: 1em;
}

.take-action-section > article {
  padding: 1em;
}

.take-action-section > article > p {
  margin-top: 0.4em;
}

/* what-we-do */

.what-we-do {
  height: auto;
  background-color: #354463;
  padding-bottom: 4em;
}

.s3box-top {
  margin: auto;
  position: relative;
  top: 2em;
}

.what-we-do__row2 {
  text-align: center;
  padding: 4em;
  color: #fff;
}

.what-we-do--card {
  width: 80%;
  margin: auto;
  margin-top: 3em;
}

.what-we-do__card-img {
  height: 60%;
}

.what-we-do__card-img img {
  width: 90%;
  position: relative;
  top: -2em;
}

.what-we-do--card p {
  margin: 1em;
}

.s3-btn {
  width: 50%;
  margin: auto;
  margin-bottom: 1.5em;
}

/* section-4 */

.did-you-know {
  background: url("/assets/home/did-you-know-background.jpg");
  background-size: cover;
  background-position: 50% -12em;
  padding-bottom: 3em;
}

.did-you-know-row1 {
  padding: 2em;
}

.s4-btn {
  margin-top: 1em;
  width: 10em;
}

.did-you-know-card {
  width: 80%;
  margin: auto;
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: 85% 15%;
}

.s4-box {
  position: relative;
  margin: auto;
  bottom: -1.5em;
}

.did-you-know-card-article {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  text-align: left;
}

.did-you-know-card-article p {
  margin-top: 1em;
}

.did-you-know-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.did-you-know-icon-container img {
  width: 1.2em;
  height: 1.2em;
  background-color: #c1f7d5;
  padding: 0.7em;
  border-radius: 2em;
}

/* stories */

.stories {
  height: auto;
  margin-top: 2em;
  background-color: #fff;
}

.stories-row1-img-container {
  background: url("/assets/home/lady-baby.png");
  background-size: cover;
  height: 20em;
  width: 80%;
  margin: auto;
}

.s5-box {
  margin: auto;
  position: relative;
  top: -1em;
}

.stories-row2 {
  width: 80%;
  margin: auto;
  margin-top: 1.5em;
}

.stories-row2 article {
  background-color: #354463;
  color: #c1f7d5;
  padding: 2em;
}

.stories-row2 article h2 {
  text-align: center;
}

.stories-row2 article p {
  margin: 2em 0em;
}

.btn-container {
  margin-top: 2em;
}

.s5-btn {
  width: 50%;
  margin: auto;
  margin-left: 25%;
}

/* event */

.event {
  background-color: #354463;
  color: #fff;
  padding-bottom: 4em;
}

.s6-brush {
  width: 80%;
  margin: auto;
  text-align: center;
}

.s6-row2 {
  margin-top: 5em;
  margin-bottom: ;
}

.event-img-container1 {
  width: 80%;
  height: 20em;
  margin: auto;
  background: url("/assets/home/tree-planting.png");
  background-size: cover;
}

.event-img-container2 {
  width: 80%;
  height: 20em;
  margin: auto;
  background: url("/assets/home/meeting.png");
  background-size: cover;
  margin-top: 4em;
}

.s6-box1 {
  margin: auto;
  position: relative;
  top: -22em;
}

.s6-box2 {
  margin: auto;
  position: relative;
  top: -22em;
}

.event-article {
  margin: 1em 3em;
  text-align: center;
}

.event-article p {
  margin-top: 2em;
  margin-bottom: 1em;
}

.s6-btn {
  width: 50%;
  margin: auto;
}

/* subscribe */

.subscribe {
  background-color: #c1f7d5;
  padding: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.subscribe__btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 1.5em;
}

.email-inp {
  width: 60%;
}
.subscribe__btn-container input {
  border-radius: 2em;
  height: 3em;
  text-align: center;
  display: inline-block;
  width: 95%;
}

.s7-subsc-btn {
  background-color: #354463;
  color: #c1f7d5;
  width: 40%;
}

.s7-subsc-btn a {
  color: #c1f7d5;
  margin-top: 0.3em;
}

footer {
  margin: 3em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 3em;
}

.footer__h5 {
  font-size: 1.5em;
}

.div3__links {
  display: flex;
  flex-direction: column;
}

.div4__links {
  display: flex;
  flex-direction: column;
}

.footer__div5 {
  grid-column: 2;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    padding-bottom: 1em;
  }

  .head-nav {
    flex-direction: column;
  }

  .navbar__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .header__h2 {
    align-self: flex-start;
  }

  .btn-donate {
    align-self: center;
    width: 10em;
    font-size: 1.2em;
  }

  .main-content {
    padding: 2em;
    background: url("/assets/home/annie-spratt-135307-unsplash.png");
    background-size: cover;
    background-position: 80%;
  }

  .issue-btn {
    align-self: flex-start;
    margin-left: 3em;
  }

  .action-btn {
    bottom: -3em;
  }

  .s3box-top {
    margin-left: 4em;
  }

  .what-we-do--card {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .what-we-do--card article {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
  }

  .did-you-know {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .stories-row1-img-container {
    height: 30em;
  }

  .stories-row2 {
    position: relative;
    top: -5em;
    right: -5em;
  }

  .s5-btn {
    width: 50%;
    margin: auto;
  }

  .s6-brush {
    text-align: left;
  }

  .s6-row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4em;
  }

  .s6-box1 {
    margin: auto;
    top: 0em;
  }

  .event-img-container1 {
    margin-top: 0em;
  }

  .event-img-container2 {
    grid-column: 2;
    margin-top: 0em;
  }

  .s6-article2 {
    grid-row: 2;
    margin-top: 0em;
  }

  .s6-box2 {
    margin: auto;
    top: 0em;
  }

  .event-article__h2 {
    margin-top: 2em;
  }

  .event-article {
    text-align: left;
  }

  .s6-btn {
    margin-top: 2em;
  }

  .subscribe__heading {
    width: 70%;
  }

  .email-inp {
    width: 100%;
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer__div1 {
    grid-row: 1/4;
  }

  .footer__div5 {
    grid-column: 3;
  }
}

@media only screen and (min-width: 1024px) {
  .head-nav {
    flex-direction: row;
    width: 80%;
  }

  .navbar {
    width: 60%;
    margin-top: 1em;
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10%;
    padding-bottom: 0%;
  }

  .main-content__subsection2 {
    grid-column: 1;
    grid-row: 1;
  }

  .take-action-container {
    grid-column: 1/3;
  }
  .action-btn {
    bottom: -1em;
  }

  .take-action-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em;
    height: 6em;
  }

  .s3box-top {
    margin-left: 6em;
  }

  .what-we-do__row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .what-we-do--card {
    height: 25em;
    display: flex;
  }

  .did-you-know {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url("/assets/home/did-you-know-background@3x.png");
    background-size: cover;
  }

  .did-you-know-row1 {
    margin: auto;
    margin-top: 0;
  }

  .did-you-know-card {
    width: 70%;
  }

  .stories {
    display: flex;
    flex-direction: row-reverse;
  }

  .stories-row2 {
    position: relative;
    top: 5em;
    left: 5em;
  }

  .s5-btn {
    width: 50%;
    margin: auto;
  }

  .event-article {
    text-align: left;
  }

  .subscribe-container {
    display: flex;
  }

  .subscribe__btn-container {
    width: 50%;
  }

  .subscribe__heading {
    margin-top: 0.5em;
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .footer__div5 {
    grid-column: 5;
  }
}
